---
import Plugin from "../components/plugins/Plugin.astro";
import MainLayout from "../layouts/main-layout.astro";
import PocketBase from "pocketbase";
const pb = new PocketBase("http://127.0.0.1:8090");

const getPlugins = async () => {
  try {
    const records = await pb.collection("plugins").getFullList(12, {
      sort: "-created",
    });
    return records;
  } catch (error) {
    return [];
  }
};

interface plugin {
  id: string;
  title: string;
  website: string;
  link: string;
  created: string;
  updated: string;
  suggested_by: string;
  approved_by: string;
}

const plugins = (await getPlugins()) as Record<string, plugin>[] | null;
---

<MainLayout>
  <main class="p-4 space-y-8">
    <h1 class="text-center font-bold text-2xl">Plugins</h1>
    <ul class="flex flex-col gap-2">
      {plugins && plugins.map((plugin) => <Plugin plugin={plugin} />)}
    </ul>
  </main>
</MainLayout>
