<nav class="navbar bg-neutral">
  <aside class="flex-1">
    <a
      href="/"
      class="btn btn-ghost lg:text-2xl text-lg md:text-xl"
    >
      Pluginator
    </a>
  </aside>
  <aside class="flex-none">
    <ul>
      <a
        href="mods"
        class="btn btn-ghost normal-case lg:text-lg"
        >mods</a
      >
      <a
        href="plugins"
        class="btn btn-ghost normal-case lg:text-lg"
        >plugins</a
      >
    </ul>
  </aside>
</nav>
